$main-background-color: hsl(0, 0, 100%);
$second-background-color: hsl(0, 0, 90%);
$code-background-color: hsl(0, 0, 97%);
$code-background-color-accent: hsl(0, 0, 99%);
$code-border-color: hsl(0, 0, 25%);
$code-short-background-color: #f9f2f4;

$main-text-color:  hsl(0, 0, 10%);
$light-text-color: hsl(0, 0, 25%);
$lighter-text-color: hsl(0, 0, 40%);
$dark-text-color: hsl(0, 0, 5%);
$code-text-color: hsl(0, 0, 10%);

$light-border-color: hsl(0, 0, 80%);
$link-col: rgb(0, 90, 255);
$underline-color: hsl(0, 0, 60%);
$box-background-color: hsl(0, 0, 95%);
$highlight-color: hsl(0, 0, 60%);

$footer-circle-color: #221144;
$footer-icon-color: hsl(0, 0, 100%);
