<!--<a href="https://www.patreon.com/bePatron?u=1011297" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
<br/>-->

<a href="https://www.patreon.com/bePatron?u=1011297" id="patreon-button-link" target="_blank">
  <div class="patreon-button">
    <i class="fab fa-patreon patreon-icon"></i>Support me on Patreon!
  </div>
</a>

<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'>
</script>
<script type='text/javascript'>
  kofiwidget2.init('Support Me on Ko-fi', '#3828e0', 'danielilett');
  kofiwidget2.draw();
</script>
