---
layout: base
---

<!-- MailerLite Universal -->
<script>
  (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
  var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
  f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
  var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
  _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');
  
  var ml_account = ml('accounts', '3184597', 'y8s9f0k4m1', 'load');
</script>
<!-- End MailerLite Universal -->

{% include header.html type="post" %}

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <a href="https://github.com/{{ gh_user }}/{{ gh_repo }}" id="gh-button-link" target="_blank">
          <div class="gh-button-header">
            Get the code!
          </div>
          <div class="gh-button">
            <i class="fab fa-github gh-icon"></i><span>{{ page.gh-repo }}</span>
          </div>
        </a>
        
      {% endif %}

      <article role="main" class="blog-post">
        {{ content }}
      </article>

      <div class="ml-form-embed"
        data-account="3184597:y8s9f0k4m1"
        data-form="4162900:h3f8o9">
      </div>

      <br/>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <a href="https://github.com/{{ gh_user }}/{{ gh_repo }}" id="gh-button-link" target="_blank">
          <div class="gh-button-header">
            Get the code!
          </div>
          <div class="gh-button">
            <i class="fab fa-github gh-icon"></i><span>{{ page.gh-repo }}</span>
          </div>
        </a>
        
      {% endif %}

      {% include become-patron.html %}

      <hr/>

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Previous Post">&larr; {{ page.previous.nice-slug }}</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Next Post">{{ page.next.nice-slug }} &rarr;</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
