---
layout: base
---

{% include header.html type="post" %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <a href="https://github.com/{{ gh_user }}/{{ gh_repo }}" id="gh-button-link" target="_blank">
          <div class="gh-button-header">
            Get the code!
          </div>
          <div class="gh-button">
            <i class="fab fa-github gh-icon"></i><span>{{ page.gh-repo }}</span>
          </div>
        </a>
        
      {% endif %}

      {% include become-patron.html %}

      <article role="main" class="blog-post">
        {{ content }}
      </article>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% if site.link-tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
          {% else %}
            {{ page.tags | join: ", " }}
          {% endif %}
        </div>
      {% endif %}

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <a href="https://github.com/{{ gh_user }}/{{ gh_repo }}" id="gh-button-link" target="_blank">
          <div class="gh-button-header">
            Get the code!
          </div>
          <div class="gh-button">
            <i class="fab fa-github gh-icon"></i><span>{{ page.gh-repo }}</span>
          </div>
        </a>
        
      {% endif %}

      {% include become-patron.html %}

      <hr/>

      <ul class="pager blog-pager">
        {% if page.previous.url %}
        <li class="previous">
          <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Previous Post">&larr; {{ page.previous.nice-slug }}</a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="next">
          <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="Next Post">{{ page.next.nice-slug }} &rarr;</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
